body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app{
  max-width: 100vh;
  margin: 0 auto;
  padding: 3rem;
}

main {
  max-width: 100vh;
  margin: 0 auto;
  display: flex;
}

input[type="select"] {
  padding: 1.2rem 0.5rem;
}
